@use 'reset';
@use 'vars';

body {
  font-family: 'Open Sans',  sans-serif;
  overflow-x: hidden;
  // background-image: linear-gradient(0deg, #123e49, #122f4d);
  background-color: #181c27;
  background-repeat: no-repeat;
  height: 100vh;
}
