
.home
{
  position:relative;
  top:15.5em;
}
.home__rules
{
  max-height:80px;
  overflow:hidden;
  padding:1rem;
}

.home__rules__visible
{
  visibility: hidden;
  position:absolute;
  left:-999em;
}

.handleRules
{
  position:absolute;
  top:100%;
}



