
.ImageCover
{
  height:100%;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-image : url("../../assets/Images/BackgroundHome3.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index:-1;
}
