.connexion {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10%;
  margin: 0 auto;

  & h2 {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: center;
  }



  & .signIn,
  & .signUp {



    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 36vh;

      &__field {

        &>div {
          margin-bottom: 2rem;
          display: flex;
          flex-direction: column;

          &>label {
            padding: 0.5rem;
            color: #fff;
          }
        }

      }

      & button {
        border: none;
        border-radius: 10px;
        background: #4fdb88;
        padding: 1rem 6rem;
        font-size: 1.2rem;
        margin-top: 1rem;
      }
    }

    &__form>div {
      & input {
        background: none;
        border: 2px solid #4fdb88;
        border-radius: 5px;
        padding: 1rem;
        font-size: 1.2rem;
        text-align: center;
        color: white;

        &::placeholder {
          color: rgba(255, 255, 255, 0.219);
        }
      }
    }
  }


  .signInRedirection,
  .signUpRedirection {
    color: white;
    text-align: center;
  }
}

.message {
  color: #F84960;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;

  &__green {
    color: #4fdb88;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
  }
}
