.order {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 1.2rem;
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
  }

  &__messageNone {
    display: none;
  }

  &__graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    padding: 0 1rem;
  }

  &__quotation {
    font-size: 1.5rem;
  }

  &__passed {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 3px 24px -1px #000;
    margin: 1rem 0;
    padding: 1rem;
  }

  &__orderTitle {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  
  &__button {
    display: flex;
    justify-content: space-around;

    & button {
      border: none;
      border-radius: 10px;
      background: #4fdb88;
      padding: .5rem 3rem;
      font-weight: 600;
      font-size: 1rem;
      color: #181c27;
      margin-top: 1rem;
    }
  }
}

.widget {
  height: 25rem;
  width: 100%;

}

article {
  box-shadow: 3px 3px 24px -1px black;
}

@media screen and (min-width: 820px) {

}

@media screen and (min-width: 1080px) {
  .order {
    color: #fff;
    display: flex;
    align-items: center;

    &__title {
      font-size: 1.2rem;
      padding: 2rem 1rem 1rem 1rem;
      text-align: center;
    }

    &__messageNone {
      display: none;
    }

    &__graph {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    
    .widget {
      height: 45rem;
    }

    &__passed {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
