.order {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:88vh;
  &__orderTitle {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  &__graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
  }

  &__passed {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 24px -1px #000;
    padding: 1rem;
  }

  &__pair {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;

    &-logo {
      width: 2rem;
      height: auto;
    }

    &-pairname {
      padding-left: 0.5rem;
    }

    &-subtitle {
      padding-left: 0.5rem;
    }

  }

  &__price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1rem;

    &-name {}

    &-quotation {
      padding-left: 0.5rem;
      font-size: 1.1rem;
    }

    &-value {
      padding-left: 0.5rem;

    }
  }

  &__messageDisplay {
    padding-bottom: 0.5rem;
    color: #F84960;

    &-green {
      padding-bottom: 0.5rem;
      color: #4fdb88;
    }
  }

  &__messageNone {
    display: none;
  }

  &__cryptoAmount {
    padding-bottom: 0.5rem;
  }

  &__convertion {
    padding: 0.5rem 0rem 2rem 0rem;
  }

  &__button {
    display: flex;
    justify-content: space-around;

    & button {
      border: none;
      border-radius: 10px;
      background: #4fdb88;
      padding: .5rem 3rem;
      font-weight: 600;
      font-size: 1rem;
      color: #181c27;
      margin-top: 1rem;
    }
  }

}

.widget {
  height: 16rem;
  width: 100%;
  padding-bottom: 1rem;
}

.buttonPassedOrder {
  display: flex;
  justify-content: space-around;

  &__Buy {
    background-color: #4fdb88;
  }

  &__Sell {
    background-color: #F84960;

  }
}

.button {
  border-radius: 19px;
  border: none;
  padding: 0.7rem 3rem;
}

article {
  box-shadow: 3px 3px 24px -1px black;
}

@media screen and (min-width: 820px) {
  .order {
    color: #fff;
    display: flex;
    align-items: center;
    height: 91vh;
    &__graph {
      display: flex;
      flex-direction: row;
      align-self: center;
      align-items: center;
      width: 90%;
      height: 85%;
      padding-left: 5rem;
    }
  }
}

@media screen and (min-width: 1080px) {
  .order {

    &__orderTitle {
      font-size: 1.2rem;
      padding: 2rem 1rem 1rem 1rem;
      text-align: center;
    }

    &__graph {
      display: flex;
      flex-direction: row;
      box-shadow: 3px 3px 24px -1px #000;
    }

    .widget {
      height: 45rem;
    }

    &__passed {
      display: flex;
      width: 42rem;
      height: 45rem;
      display: flex;
      flex-direction: column;
      padding-left: 5rem;
    }
  }

  .widget {
    padding: 1rem;
    height: 56rem;
    width: 73rem;
  }

}
