.buttonDesktop {
  display: none;
}

.header {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    & h1 {
      font-size: 1.5rem;
    } 
  }
}
